$header-text-color: #121212;
$body-text-color: #898989;


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
html, body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $body-text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  height: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  color: $header-text-color;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

a.shadow {
  border: 2px solid black;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  @include bold-font(10pt);
  letter-spacing: 0.2em;
  padding: 4px 32px;
  color: $header-text-color;
  position: relative;
  z-index: 0;

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
    margin: 2px -2px -2px 2px;

    &:before {
      top: 4px;
      left: 4px;
    }
  }

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: black;
    z-index: -1;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
#wrapper {
  min-height: 100%;
  /*max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }*/
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: black;
  }
}

/* WebStudio FIX */

// @media screen and (max-width: 600px)
// {
//   .site-nav
//   {
//     top: 44px;
//     right: 30px;
//   }
//
//   .content--wrapper
//   {
//     width: 92%;
//   }
//
//   .home--news-wrapper,
//   .home--events-wrapper,
//   .home--courses-wrapper
//   {
//     width: 100%;
//   }
//
//   .three-col
//   {
//     width: 100%;
//   }
//
//   .machine--icon {
//     width: 25%;
//   }
// }
//
// /* WS Quick Fix -- homepage */
// 	@media screen and (max-width: 600px)
// 	{
// 		.site-nav
// 		{
// 			z-index: 9999;
// 		}
//
// 		.site-nav:hover .trigger,
// 		.site-nav:active .trigger
// 		{
// 			display: block;
// 	        padding-bottom: 5px;
// 	    }
//
// 		.site-nav .page-link,
// 		.site-nav .page-link
// 		{
// 			border-bottom: 3px solid transparent;
// 	    }
//
// 		.site-nav:hover .page-link,
// 		.site-nav:active .page-link
// 		{
// 			color: #000;
//
// 	    }
//
// 		.site-nav .page-link:hover
// 		{
// 			border-bottom: 3px solid #333;
//
// 	    }
//
// 	}
//
// /* WS Quick Fix -- lab page */
// @media screen and (max-width: 600px)
// {
// 	.site-nav
// 	{
// 		z-index: 9999;
// 	}
//
// 	.site-nav:hover .trigger,
// 	.site-nav:active .trigger
// 	{
// 		display: block;
//         padding-bottom: 5px;
//     }
//
// 	.site-nav .page-link,
// 	.site-nav .page-link
// 	{
// 		border-bottom: 3px solid transparent;
//     }
//
// 	.site-nav:hover .page-link,
// 	.site-nav:active .page-link
// 	{
// 		color: #000;
//
//     }
//
// 	.site-nav .page-link:hover
// 	{
// 		border-bottom: 3px solid #333;
//
//     }
//
// }
//
// /* WS Quick Fix -- events page */
// 	@media screen and (max-width: 600px)
// 	{
// 		.site-nav
// 		{
// 			z-index: 9999;
// 		}
//
// 		.site-nav:hover .trigger,
// 		.site-nav:active .trigger
// 		{
// 			display: block;
// 	        padding-bottom: 5px;
// 	    }
//
// 		.site-nav .page-link,
// 		.site-nav .page-link
// 		{
// 			border-bottom: 3px solid transparent;
// 	    }
//
// 		.site-nav:hover .page-link,
// 		.site-nav:active .page-link
// 		{
// 			color: #000;
//
// 	    }
//
// 		.site-nav .page-link:hover
// 		{
// 			border-bottom: 3px solid #333;
//
// 	    }
//
// 	}
//
//   /* WS Quick Fix -- courses page */
//   	@media screen and (max-width: 600px)
//   	{
//   		.site-nav
//   		{
//   			z-index: 9999;
//   		}
//
//   		.site-nav:hover .trigger,
//   		.site-nav:active .trigger
//   		{
//   			display: block;
//   	        padding-bottom: 5px;
//   	    }
//
//   		.site-nav .page-link,
//   		.site-nav .page-link
//   		{
//   			border-bottom: 3px solid transparent;
//   	    }
//
//   		.site-nav:hover .page-link,
//   		.site-nav:active .page-link
//   		{
//   			color: #000;
//
//   	    }
//
//   		.site-nav .page-link:hover
//   		{
//   			border-bottom: 3px solid #333;
//
//   	    }
//
//   	}
//
// /* WS Quick Fix -- Share Page */
// @media screen and (max-width: 600px)
// {
// 	.site-nav
// 	{
// 		z-index: 9999;
// 	}
//
// 	.site-nav:hover .trigger,
// 	.site-nav:active .trigger
// 	{
// 		display: block;
//         padding-bottom: 5px;
//     }
//
// 	.site-nav .page-link,
// 	.site-nav .page-link
// 	{
// 		border-bottom: 3px solid transparent;
//     }
//
// 	.site-nav:hover .page-link,
// 	.site-nav:active .page-link
// 	{
// 		color: #000;
//
//     }
//
// 	.site-nav .page-link:hover
// 	{
// 		border-bottom: 3px solid #333;
//
//     }
//
// }
//
// /* WS Quick Fix -- info page */
// 	@media screen and (max-width: 600px)
// 	{
// 		.site-nav
// 		{
// 			z-index: 9999;
// 		}
//
// 		.site-nav:hover .trigger,
// 		.site-nav:active .trigger
// 		{
// 			display: block;
// 	        padding-bottom: 5px;
// 	    }
//
// 		.site-nav .page-link,
// 		.site-nav .page-link
// 		{
// 			border-bottom: 3px solid transparent;
// 	    }
//
// 		.site-nav:hover .page-link,
// 		.site-nav:active .page-link
// 		{
// 			color: #000;
//
// 	    }
//
// 		.site-nav .page-link:hover
// 		{
// 			border-bottom: 3px solid #333;
//
// 	    }
//
// 	}
