/**
 * Courses Page styles
 */
.courses--fullscreen {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    margin: -20px;
    background-image: url('img/fab-academy-2017.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }

  &:after {
    background-color: rgba(0,0,0,0.1);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.courses--feature {
  &-wrapper {
    position: relative;
    height: 250px;
    top: 50%;
    left: 0;
    padding: 0 60px;
    margin-top: -80px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;

    a {
      color: inherit;
    }
  }

  &-prefix {
    letter-spacing: 0.2em;
    margin-bottom: 10px;
  }

  &-title {
    @include bold-font(28pt);
    letter-spacing: 0.2em;
  }

  &-subtitle {
    letter-spacing: 0.2em;
    margin-top: 10px;
  }

  &-link {
    letter-spacing: 0.2em;
    margin-top: 80px;
    border: 2px solid white;
    padding: 4px 32px 6px 32px;
    @include bold-font(10pt);
    display: inline-block;
  }
}

.course--wrapper {
  z-index: 1;
  padding: 60px 0;

  &:first-child {
    padding-top:30px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #efefef;
  }
}

.course--image {
  width: 140px;
  position: absolute;
}

.course--content {
  position: relative;
  padding-left:180px;
  font-size: 10pt;
  min-height: 100px;

  &-title {
    @include bold-font(18pt);
    color: $header-text-color;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }

  &-hook {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 1.8;
  }

  &-link {
    @include bold-font(10pt);
    letter-spacing: 0.1em;
    border: 2px solid black;
    padding: 4px 8px;
    text-align: center;
    margin-top: 4px;
    margin-right:16px;
    color: black;
    text-transform: uppercase;
    display: inline-block;
  }

  &-tags {
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    opacity: 0.4;
    margin-top:20px;
  }
}
