/**
 * Events Page styles
 */

.events--fullscreen {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    margin: -20px;
    background-image: url('img/mgm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }

  &:after {
    background-color: rgba(0,0,0,0.2);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.events--feature {
  &-wrapper {
    position: relative;
    height: 250px;
    top: 50%;
    left: 0;
    padding: 0 60px;
    margin-top: -80px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;

    a {
      color: inherit;
    }

    @media screen and (max-width:$iphone)
    {
      display: none;
    }
  }

  &-prefix {
    letter-spacing: 0.2em;
    margin-bottom: 10px;
  }

  &-title {
    @include bold-font(28pt);
    letter-spacing: 0.2em;
  }

  &-date {
    letter-spacing: 0.2em;
    margin-top: 10px;
  }

  &-link {
    letter-spacing: 0.2em;
    margin-top: 80px;
    border: 2px solid white;
    padding: 4px 32px 6px 32px;
    @include bold-font(10pt);
    display: inline-block;
  }
}

.event--wrapper {
  z-index: 1;
  padding: 60px 0;

  &:first-child {
    padding-top:30px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #efefef;
  }

  @media screen and (max-width:$iphone)
  {
    padding: 40px 0;
  }
}

.event--date {
  text-transform: uppercase;
  text-align: center;
  padding-right: 30px;
  width: 100px;
  margin-right: -150px;
  margin-left:10px;
  margin-top:10px;
  position: absolute;
  color: $header-text-color;
  z-index: 2;

  &-tile {
    border: 2px solid black;
    background-color: black;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 10px;
    position: relative;

    &:before {
      content:"";
      z-index: -1;
      top:-8px;
      left:-8px;
      width: 100%;
      height: 100%;
      border: 2px solid black;
      background-color: white;
      position: absolute;
    }

    .tile--month {
      margin-top:-3px;
      margin-left:-10px;
      @include bold-font(10pt);
      letter-spacing: 0.15em;

      @media screen and (max-width:$iphone)
      {
        margin-top: -8px;
      }
    }

    .tile--day {
      @include bold-font(24pt);
      margin-top:-5px;
      margin-left:-10px;
      letter-spacing: 0.10em;

      @media screen and (max-width:$iphone)
      {
        font-size: 18pt;
      }
    }

    @media screen and (max-width:$iphone)
    {
      width: 40px;
      height: 40px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &-link {
    @include bold-font(10pt);
    letter-spacing: 0.1em;
    border: 2px solid black;
    padding: 4px 8px;
    text-align: center;
    margin-top: 32px;
    margin-right:16px;
    display: block;

    @media screen and (max-width:$iphone)
    {
        display:none;
    }
  }

  @media screen and (max-width:$iphone)
  {
    width: 80px;
    margin-left: 30px;
    margin-top: 0;
  }
}

.event--content {
  position: relative;
  padding-left:150px;
  font-size: 10pt;
  z-index: 1;

  &-title {
    @include bold-font(18pt);
    color: $header-text-color;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.12em;

    @media screen and (max-width:$iphone)
    {
      font-size: 12pt;
      margin-top: 90px;
    }
  }

  &-date {
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 0.12em;
    line-height: 1.8;

    &:after {
      content: "";
      width: 30px;
      display: block;
      border-bottom: 2px solid black;
      margin-top: 15px;
    }

    @media screen and (max-width:$iphone)
    {
      font-size: 9pt;
      margin-top: 15px;
    }
  }

  &-hook {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    line-height: 1.8;
  }

  &-tags {
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    opacity: 0.4;
    margin-top:30px;
  }

  @media screen and (max-width:$iphone)
  {
    padding: 0 30px;
  }
}
