/**
 * Lab Page styles
 */

.lab--fullscreen {
  background-color: #FF9AB5 !important;
  position: relative;
  overflow: hidden;
}

.machine--icons-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
  font-size: 0;

  &-internal {
    padding: 0 60px;

    @media screen and (max-width:$iphone)
    {
      padding: 0;
    }
  }

  @media screen and (max-width:$iphone)
  {
    width: 800%;
  }
}

.machine--icon {
  width: 12.5%;
  display: inline-block;
  text-align: center;
  @include bold-font(8pt);
  color: $header-text-color;
  text-transform: uppercase;

  & img {
    width: 66.66666%;
    max-width: 150px;
    height: auto;
    padding: 30px 0 15px 0;
    margin: 0 auto 10px auto;
    display: block;
    animation-name: drop;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    &:hover {
      animation-name: raise;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }

  @media screen and (max-width:$iphone)
  {
    width: 100%;
    font-size: 10pt;
    margin-bottom: $spacing-unit/2;
  }
}

.content--wrapper-lab {
  width: 100% !important;
  font-size: 0pt;
}

.machine--group {
  padding: 60px 0 90px 0;
  text-align: center;
  position: relative;
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(250,250,250), white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(250,250,250), white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(250,250,250), white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(250,250,250), white); /* Standard syntax */

  &:not(:last-child) {
  }

  &-heading {
    @include bold-font(30pt);
    width: 100%;
    padding: 30px 0 60px 0;
    color: $header-text-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: relative;

    &:after {
      content: "";
      border-bottom: 4px solid black;
      position: absolute;
      width: 40px;
      margin-left: -20px;
      left: 50%;
      bottom: 15px;
    }

    @media screen and (max-width:$iphone)
    {
      @include bold-font(20pt);
      padding: 20px 0 10px 0;

      &:after {
        display:none;
      }
    }
  }

  &-description {
    font-size: 14pt;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 0.033em;
    padding: 30px 0 110px 0;

    @media screen and (max-width:$iphone)
    {
      display:none;
    }
  }

  @media screen and (max-width:$iphone)
  {
    padding: 0;
  }
}

.machine--wrapper {
  padding: 30px 30px 0 30px;
  margin: 0 -15px;
  display: inline-block;
  box-sizing: border-box;

  & a:hover {
    text-decoration: none;

    & .machine--image {
      &:after {
        background-color: rgba(0,0,0,0.15);
      }
    }
    & .machine--content {
      background-color: rgba(0,0,0,0.03);
    }
  }

  @media screen and (max-width:$iphone)
  {
    padding: 15px 0 0 0;
  }
}

.machine--icons-wrapper-internal {
  @media screen and (max-width:$iphone)
  {
    font-size: 10pt;
    & a{
      float: left;
      width: 12.5%;
      margin-bottom: -30px;
    }
  }
}

.machine--image {
  position: relative;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-bottom: none;
  border-color: black !important;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
  }
}

.machine--content {
  padding: 20px;
  text-transform: uppercase;
  background-color: white;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-color: #e8e8e8 !important;

  &-title {
    @include bold-font(10pt);
    color: $header-text-color;
    letter-spacing: 0.12em;
    border: none !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-hook {
    font-size: 9pt;
    letter-spacing: 0.06em;
    line-height: 1.8;
    color: $body-text-color;
    border: none !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media screen and (max-width:$iphone)
  {
    border-width: 0;
    text-align: left;
  }
}

.three-d-printers {
  & .machine--image, & .machine--content {
    border-color: #A1FCFF;
  }
}

.cutting-machines {
  & .machine--image, & .machine--content {
    border-color: #FFF683;
  }
}

.cnc-machines {
  & .machine--image, & .machine--content {
    border-color: #FF9AB5;
  }
}

.electronics {
  & .machine--image, & .machine--content {
    border-color: #EC9AFF;
  }
}

.scanning-devices {
  & .machine--image, & .machine--content {
    border-color: #5BFDD1;
  }
}

.misc {
  & .machine--image, & .machine--content {
    border-color: #FFC19A;
  }
}
