/**
 * Lab Page styles
 */

.lab--fullscreen {
  background-color: #FF9AB5 !important;
  position: relative;
}

.machine--icons-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
  font-size: 0;

  &-internal {
    padding: 0 60px;
  }
}

.machine--icon {
  width: 12.5%;
  display: inline-block;
  text-align: center;
  @include bold-font(8pt);
  color: $header-text-color;
  text-transform: uppercase;

  & img {
    width: 66.66666%;
    max-width: 150px;
    height: auto;
    padding: 30px 0 15px 0;
    margin: 0 auto 10px auto;
    display: block;
    animation-name: drop;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    &:hover {
      animation-name: raise;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }
  }
}

.content--wrapper-lab {
  width: 100% !important;
  font-size: 0pt;
  padding-top: 60px;
}

.machine--group {
  padding: 0 0 90px 0;
  text-align: center;
  position: relative;

  &-heading {
    @include bold-font(30pt);
    width: 100%;
    padding: 30px 0 110px 0;
    color: $header-text-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: relative;
    background-color: white;

    &:after {
      content: "";
      border-bottom: 4px solid black;
      position: absolute;
      width: 40px;
      margin-left: -20px;
      left: 50%;
      bottom: 65px;
    }
  }
}

.machine--wrapper {
  padding: 30px 30px 0 30px;
  margin: 0 -15px;
  display: inline-block;
  box-sizing: border-box;
}

.machine--image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-bottom: none;
  border-color: black !important;
}

.machine--content {
  padding: 20px;
  text-transform: uppercase;
  background-color: white;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-color: #e8e8e8 !important;

  &-title {
    @include bold-font(10pt);
    color: $header-text-color;
    letter-spacing: 0.12em;
    border: none !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-hook {
    font-size: 9pt;
    letter-spacing: 0.06em;
    line-height: 1.8;
    color: $body-text-color;
    border: none !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.three-d-printers {
  & .machine--image, & .machine--content {
    border-color: #A1FCFF;
  }
}

.cutting-machines {
  & .machine--image, & .machine--content {
    border-color: #FFF683;
  }
}

.cnc-machines {
  & .machine--image, & .machine--content {
    border-color: #FF9AB5;
  }
}

.electronics {
  & .machine--image, & .machine--content {
    border-color: #EC9AFF;
  }
}

.scanning-devices {
  & .machine--image, & .machine--content {
    border-color: #5BFDD1;
  }
}

.misc {
  & .machine--image, & .machine--content {
    border-color: #FFC19A;
  }
}
