/**
 * Site header
 */
.site-header {
  font-family: $base-font-family;
  // Positioning context for the mobile navigation icon
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header-wrapper {
  height: 60px;
  padding: $spacing-unit 50px 30px $spacing-unit;

  @media screen and (max-width:$iphone)
  {
    padding: 12px;
  }
}

.site-title {
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.logo--afl-header {
  > svg {
    position: absolute;
    width: 70px;
    padding: 0;

    @media screen and (max-width:$iphone)
    {
      width: 48px;
    }
  }
}

.logo--afl-background {
  position: absolute;
  width: 70px;
  height: 70px;

  @media screen and (max-width:$iphone)
  {
    width: 48px;
    height: 48px;
  }
}

.logo--amf-header {
  > svg {
    color: #fff;
    position: absolute;
    width: 60px;
    padding: 0;

    @media screen and (max-width:$iphone)
    {
      width: 50px;
      top: 10px;
      left: $spacing-unit / 2;
    }
  }
}

.site-nav {
  font-size: 13px;
  float: right;
  line-height: 56px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $text-color;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: inherit;
    line-height: $base-line-height;
    padding-top:3px;
    padding-bottom:3px;

    // Spaces between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 50px;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 3px solid black;
    }

    &-current {
      font-family: 'AsapBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      border-bottom: 3px solid black;
    }
  }

  @media screen and (max-width:$iphone) {
    position: fixed;
    top: 0;
    right: 0;
    margin: $spacing-unit / 2;
    text-align: center;
    color: white;
    font-size: 18pt;
    letter-spacing: 0.25em;

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      height: 27px;
      line-height: 0;
      padding-top: 9px;
      text-align: center;

      > svg path {
        fill: white;
      }

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -2px;
        right: -2px;
        border: 2px solid white;
        z-index: -1;
      }
    }

    .trigger {
      width: 100vw;
      height: calc(100vh - 30px);
      margin-top: -$spacing-unit/2;
      margin-right: -$spacing-unit/2;
      background: rgba(0,0,0,0.3);
      display: none;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -4px;
        right: -4px;
        border: 4px solid white;
        z-index: -1;
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -$spacing-unit/2;
        left: -$spacing-unit/2;
        padding: $spacing-unit/2;
        background-image: url("img/stars.jpg");
        background-repeat: no-repeat;;
        background-size: 2000px auto;
        background-position: center -150px;
        z-index: -2;
      }
    }

    .page-link {
      display: block;
      padding: $spacing-unit/2 0;

      &:not(:last-child) {
        margin-right: 0;
      }

      &-current {
        border-bottom: none !important;
      }

      &:hover {
        border-bottom: none !important;
      }
    }
  }
}

.site-nav-light {
  color: #fff !important;

  .page-link {
    &:hover {
      text-decoration: none;
      border-bottom: 3px solid white;
    }

    &-current {
      border-bottom: 3px solid white;
    }
  }
}

/* Icon 3 */

@media screen and (max-width:$iphone) {
  #siteNavTrigger {
    width: 36px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #siteNavTrigger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 18px;
    margin: 0 9px;
    background: white;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #siteNavTrigger span:nth-child(1) {
    top: 10px;
  }

  #siteNavTrigger span:nth-child(2), #siteNavTrigger span:nth-child(3) {
    top: 17px;
  }

  #siteNavTrigger span:nth-child(4) {
    top: 24px;
  }

  #siteNavTrigger.open span:nth-child(1) {
    top: 17px;
    width: 0%;
    left: 50%;
  }

  #siteNavTrigger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #siteNavTrigger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #siteNavTrigger.open span:nth-child(4) {
    top: 17px;
    width: 0%;
    left: 50%;
  }

  #siteNavTrigger.open:before {
    border-width: 0;
  }

  #siteNavList.open {
    display: table-cell;
    vertical-align: middle;
    z-index: 99;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  background-color: #fff;
  position: absolute;
  z-index: 98;
  width:100%;
}

.footer-wrapper {
  padding: 0 $spacing-unit 0 10px;

  @media screen and (max-width:$iphone)
  {
    padding: 0 $spacing-unit;
    text-align: center;
  }
}

.footer-logo {
  float: left;

  @media screen and (max-width:$iphone)
  {
    display: inline-block;
  }
}

.logo--amf-footer svg {
  height: 124px;

  @media screen and (max-width:$iphone)
  {
    height: 93px;
    margin-left: -31px;
    position: absolute;
  }
}

.footer-social {
  float:right;
  list-style: none;
  margin-left: 0;
  display: inline-block;
  padding:50px 0;

  > li {
    float: left;
    width: 24px;
    height: 24px;
    animation-name: drop;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    &:not(:last-child) {
      margin-right: 40px;

      @media screen and (max-width:$iphone)
      {
        margin-right: 0;
        margin-left: 25px;
      }
    }

    &:hover {
      animation-name: raise;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }

    @media screen and (max-width:$iphone)
    {
      float: right;

      &:nth-child(5), &:nth-child(6) {
        display: none;
      }
    }
  }

  @media screen and (max-width:$iphone)
  {
    display: inline-block;
    padding: $spacing-unit 0;
  }
}

@keyframes raise {
    from {
      margin-top: 0;
      padding-bottom: 0;
    }
    to {
      margin-top: -4px;
      padding-bottom: 4px;
    }
}

@keyframes drop {
    from {
      margin-top: -4px;
      padding-bottom: 4px;
    }
    to {
      margin-top: 0;
      padding-bottom: 0;
    }
}

@keyframes bounce {
	0%, 8%, 16%, 100% {
    transform: translateY(0);
  }
	4%, 12% {
    transform: translateY(-15px);
  }
}


/**
 * Page content
 */

.page-content {
  font-family: $base-font-family;
  padding: 0;
  overflow: hidden;
}

.page-heading {
  font-size: 20px;
}

.content--wrapper {
  width: 768px;
  margin: 0 auto;
  padding: 60px 0;

  @media screen and (max-width:$iphone)
  {
    width: 100%;
    padding: 0;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

.fullscreen {
  width: 100%;
  height: 640px;
  background-color: black;

  @media screen and (max-width:$iphone)
  {
    height: 240px;
  }
}



/**
 * Posts
 */

.one-col {
  width: 100%;
}

.two-col {
  width: 50%;

  &:nth-child(2n + 1) {
    border-left: none;
  }

  &:nth-child(2n + 0) {
    border-right: none;
  }

  @media screen and (max-width:$iphone) {
    width: 100%;
  }
}

.three-col {
  width: 33.33333%;

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(3n + 0) {
    border-right: none;
  }

  @media screen and (max-width:$iphone) {
    width: 100%;
  }
}

.four-col {
  width: 25%;
}

.content--final {
  width: 100%;
  text-align: center;
  border-top: 1px solid #e8e8e8;
  padding: 120px 0 120px 0;

  &-icon {
    width: 60px;
    margin: 0 auto 40px auto;
  }

  @media screen and (max-width:$iphone)
  {
    padding: 60px 0;

    & a.shadow {
      white-space: nowrap;
      font-size: 7pt;
      padding: 4px 12px;
    }
  }
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
