/**
 * Machine Page styles
 */

.machine--fullscreen {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center bottom;

  &:after {
    background-color: rgba(0,0,0,0.33);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.machine--specs {
  padding: 60px 45px 45px 45px;
  width: 200px;
  color: #898989;
  text-transform: uppercase;
  font-size: 9pt;
  letter-spacing: 0.08em;
  display: table-cell;
  vertical-align: top;

  & .bold {
    color: black;
    margin-bottom: 8px;
    font-size: 10pt;
  }

  &-item {
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;

    &:last-child {
      border-bottom: none;

      @media screen and (max-width:$iphone)
      {
        border-bottom: 1px solid #e8e8e8;
      }
    }

    &.icon {
      padding-bottom: 60px;

      @media screen and (max-width:$iphone)
      {
        display: none;
      }
    }
  }

  @media screen and (max-width:$iphone)
  {
    padding: 15px 30px;
    display: block;
  }
}

.content--wrapper-machine {
  display: inline-table;
}

.machinePage--content {
  display: table-cell;
  border: none;
  text-transform: none;
  padding: 60px 180px 60px 120px;
  font-size: 14pt;
  letter-spacing: 0.033em;
  line-height: 1.8;
  vertical-align: top;

  h1 {
    position: relative;
    text-transform: uppercase;
    @include bold-font(28pt);
    letter-spacing: 0.15em;
    padding-bottom:30px;
    margin-bottom: 30px;

    &:after {
      content: "";
      width: 30px;
      position: absolute;
      left: 0;
      bottom: 4px;
      border-bottom:4px solid black;
    }

    @media screen and (max-width:$iphone)
    {
      font-size: 18pt;
    }
  }

  a {
    @include bold-font(inherit);
    color: black;
  }

  @media screen and (max-width:$iphone)
  {
    padding: 30px;
    display: block;
    font-size: 12pt;
  }
}

/* Full Calendar */

#calendar {
  margin-top:90px;
  
  @media screen and (max-width:$iphone)
  {
    margin-top: 30px;
  }
}

.fc-unthemed td.fc-today {
  background-color: #fdeded !important;
}

.fc-nonbusiness {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAASUlEQVQoU2NcsWLFf319fQZ84OLFiwyM169f/w9i4FIMkwMrBJmGTTGyGFwhumJ0jSgKYYpBNLpTyFOIbB1Oq4nyDFHBQ2yAAwDdo1IZuAFmrQAAAABJRU5ErkJggg==) repeat !important;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 -1px  !important;
}

.fc-event {
  border-radius: 0 !important;
  margin-bottom: -1px !important;
  padding: 0.33em;
}

.fc-title {
  display:none;
}

.fc-content:after {
  content: "Reserved";
  position: relative;
  display: inline-block;
}

a.fc-event {
  pointer-events: none;
}
