/**
 * Events and Courses Page styles
 */

.share--fullscreen {
  position: relative;
  width: 300%;
  overflow: hidden;
  font-size: 0pt;
  left: 0%;
}

.fullscreen--scroll-arrow {
  position: absolute;
  opacity: 0.7;
  height: 100%;
  width: 120px;
  z-index: 3;
  top: 0;

  &Left {
    left: 0;
    &:after {
      content: "";
      position: absolute;
      border-top: 2px solid white;
      border-left: 2px solid white;
      height: 30px;
      width: 30px;
      left: 60px;
      top: 50%;
      margin-top: -10px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
    }
  }

  &Right {
    right: 0;
    &:after {
      content: "";
      position: absolute;
      border-top: 2px solid white;
      border-right: 2px solid white;
      height: 30px;
      width: 30px;
      right: 60px;
      top: 50%;
      margin-top: -10px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.fullscreen--feature {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &-controls {
    width: 33.33333%;
    height: 100%;
    background: none;
    position: absolute;
  }

  &-scroller {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: visible;
  }

  &-wrapper {
    width: 33.33333%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
  }

  &-img {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 0;
    position: relative;
  }

  &-content {
    text-align: center;
    text-transform: uppercase;
    font-size: 10pt;
    z-index: 1;
    position: relative;
    top: -50%;
    color: white;
    margin: auto;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
  }

  &-prefix {
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    padding-top: 30px;
  }

  &-title {
    @include bold-font(28pt);
    letter-spacing: 0.2em;
  }

  &-subtitle {
    letter-spacing: 0.2em;
    margin-top: 10px;
  }

  &-link {
    letter-spacing: 0.2em;
    margin-top: 80px;
    border: 2px solid white;
    padding: 4px 32px 6px 32px;
    @include bold-font(10pt);
    display: inline-block;

    &:hover {
      color: white;
      background-color: rgba(255,255,255,0.4);
    }
  }
}

.content--wrapper-share {
  width: 100% !important;
  font-size: 0pt;
  text-align: center;
}

.content--share-category {
  padding-bottom:30px;
}

.share--category-heading {
  width: 100%;
  padding: 80px 0 60px 0;
  background-color: white;

  & > a.shadow {
    font-size: 18pt;
    &.madeinfablab {
      background-color: #5BFDD1;
    }

    &.howto {
      background-color: #FF9AB5;
    }

    &.fabacademy {
      background-color: #A1FCFF;
    }
  }
}

.post--wrapper {
  padding: 30px 30px 0 30px;
  margin-left: -15px;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;

  &-howto {
    .post--image {
      height: 450px;

      &:after {
        background-color: rgba(0,0,0,0.2);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.post--image {
  position: relative;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  &-tag, &-subtitle {
    position: relative;
    font-size: 10pt;
    padding-top: 140px;
    padding-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.30em;
    z-index: 1;
  }

  &-subtitle {
    padding-top: 4px;
  }

  &-title {
    position: relative;
    padding: 0 30px;
    @include bold-font(26pt);
    letter-spacing: 0.20em;
    z-index: 1;
  }
}

.post--content {
  padding: 30px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-top: none;

  &-title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 22px;
    @include bold-font(10pt);
    color: $header-text-color;
    letter-spacing: 0.12em;
    border: none !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 30px;
      border-bottom: 2px solid $header-text-color;
    }
  }

  &-hook {
    position: relative;
    height: 120px;
    font-size: 9pt;
    letter-spacing: 0.06em;
    line-height: 1.8;
    color: $body-text-color;
    border: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.howto {
  & .post--content-hook {
    height: 180px;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    line-height: 2;
    padding: 30px;
  }
}
