---
layout: default
---

<div class="fullscreen courses--fullscreen">
  <div class="courses--feature-wrapper">
    <div class="courses--feature-prefix">DOM-E5045</div>
    <div class="courses--feature-title">
      Digital Workshop Basics
    </div>
    <div class="courses--feature-subtitle">
      A Hands-on Intro to Digital Fabrication in Fab Labs
    </div>
    <a href="#DigitalWorkshopBasics"><div class="events--feature-link">View Course</div></a>
  </div>
</div>

<div class="content--wrapper">
{% assign courses = site.courses | where: 'categories', 'courses' | where: 'visible', 'true' | sort: 'date'  %}
{% for course in courses %}

  <div class="course--wrapper" id="{{ course.tags[0] | remove: '#' }}">
    <div class="course--image">
      <img src="{{ course.icon }}" />
      {% if course.oodiLink %}
      <a href="{{ course.oodiLink }}" target="_blank">
        <div class="course--image-link">View Course</div>
      </a>
      {% endif %}
    </div>
    <div class="course--content">
      <div class="course--content-title">{{ course.title | escape }}</div>
      <div class="course--content-hook">{{ course.excerpt }}</div>
      <div class="course--content-tags">{{ course.tags | join: "&nbsp;&nbsp;&nbsp;" }}</div>
    </div>
  </div>

{% endfor %}
</div>
