---
layout: default
---

<div class="fullscreen courses--fullscreen">
  {% assign features = site.courses | where: 'categories', 'courses' | where: 'categories', 'feature' | sort: 'date'  %}
  <div class="courses--feature-wrapper">
    <div class="courses--feature-prefix">#FabAcademy</div>
    <div class="courses--feature-title">
      Fab Academy 2017
    </div>
    <div class="courses--feature-subtitle">
      Applications &amp; Implications of Digital Fabrication
    </div>
    <a href="http://fabacademy.org/" target="_blank"><div class="events--feature-link">FabAcademy.org</div></a>
  </div>
</div>

<div class="content--wrapper">
{% assign courses = site.courses | where: 'categories', 'courses' | sort: 'date'  %}
{% for course in courses %}

  <div class="course--wrapper">
    <div class="course--image">
      <img src="{{ course.icon }}" />
    </div>
    <div class="course--content">
      <div class="course--content-title">{{ course.title | escape }}</div>
      <div class="course--content-hook">{{ course.excerpt }}</div>
      <div class="course--content-link">View Course</div>
      <div class="course--content-tags">{{ course.tags | join: "&nbsp;&nbsp;&nbsp;" }}</div>
    </div>
  </div>

{% endfor %}
</div>
