---
layout: default
---

<div class="fullscreen courses--fullscreen">
</div>

<div class="content--wrapper">
{% assign courses = site.courses | where: 'categories', 'courses' | sort: 'date'  %}
{% for course in courses %}

  <div class="course--wrapper">
    <div class="course--image">
      <img src="{{ course.icon }}" />
    </div>
    <div class="course--content">
      <div class="course--content-title">{{ course.title | escape }}</div>
      <div class="course--content-hook">{{ course.excerpt }}</div>
      <div class="course--content-link">View Course</div>
      <div class="course--content-tags">{{ course.tags | join: "&nbsp;&nbsp;&nbsp;" }}</div>
    </div>
  </div>

{% endfor %}
</div>
