<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div id="wrapper">
      {% include header.html %}

      <main class="page-content" aria-label="Content">
          {{ content }}
      </main>

      {% include footer.html %}
    </div>

    <script>
      /* WS Quick Fix */
      document.getElementById('siteNavTrigger').addEventListener('click', function()
      {
        console.log('Inline nav fix');
      });
    </script>
  </body>

</html>
