---
layout: default
---
{% assign events = site.events | where: 'categories', 'events' | where: 'categories', 'public' | sort: 'date'  %}

<div class="fullscreen events--fullscreen">
  <div class="events--feature-wrapper">
    <div class="events--feature-prefix">- Public Event -</div>
    <div class="events--feature-title">
      Fablab Open Day
    </div>
    <div class="events--feature-date">
      Coming Soon!
    </div>
    <a href="http://www.facebook.com/{{ site.facebook_url }}/events" target="_blank"><div class="events--feature-link">View our Facebook Page for Updates</div></a>
  </div>
</div>

<div class="content--wrapper">
{% for event in events %}

  <div class="event--wrapper">
    <div class="event--date">
      <div class="event--date-tile">
        <div class="tile--month">{{ event.date | date: "%b"  }}</div>
        <div class="tile--day">{{ event.date | date: "%d"  }}</div>
      </div>
        <a href="{{ event.facebookEvent }}" target="_blank" class="event--date-link">View</a>
    </div>
    <div class="event--content">
      <div class="event--content-title">{{ event.title | escape }}</div>
      <div class="event--content-date">{{ event.date | date: "%a %d %B"  }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ event.startTime }}&nbsp;&nbsp;—&nbsp;&nbsp;{{ event.endTime }}</div>
      <div class="event--content-hook"><p>{{ event.excerpt }}</p></div>
      <div class="event--content-tags">{{ event.tags | join: "&nbsp;&nbsp;&nbsp;" }}</div>
    </div>
  </div>

{% endfor %}
</div>

<div class="content--final">
  {% if site.facebook_url %}
  {% assign facebook_eventsUrl = site.facebook_url | prepend: 'http://www.facebook.com/' | append: '/events/' %}
  <a href="{{ facebook_eventsUrl }}" class="content--final-link shadow" target="_blank">
    See all our events on our Facebook Page
  </a>
  {% endif %}
</div>
