---
layout: default
---

<div class="fullscreen homepage--fullscreen-stars">
  <div class="homepage--splash-wrapper">
    <div class="homepage--orbit">
      {% include logos/aaltofablab-logo.svg %}
      <svg class="homepage--ripple" height="600" width="600"><circle cx="300" cy="300" r="150" stroke="rgba(255,255,255,0.333)" stroke-width="1" fill="transparent" /></svg>
      <svg class="homepage--ripple" height="600" width="600"><circle cx="300" cy="300" r="215" stroke="rgba(255,255,255,0.25)" stroke-width="1" fill="transparent" /></svg>
      <svg class="homepage--ripple" height="600" width="600"><circle cx="300" cy="300" r="280" stroke="rgba(255,255,255,0.167)" stroke-width="1" fill="transparent" /></svg>
    </div>

    <div class="homepage--intro-text">
      <span class="bold">Aalto University's</span> open-access<br/>
      digital fabrication lab
    </div>
  </div>
</div>
