---
layout: default
---

<div class="fullscreen info--fullscreen"></div>

{% assign labInfo = site.info | where: 'categories', 'labInfo' %}
{% assign howItWorks = site.info | where: 'categories', 'howItWorks' %}
{% assign aboutFabLabs = site.info | where: 'categories', 'aboutFabLabs' %}
{% assign faqs = site.faqs | sort: "date" %}

<div class="nav--info-sections">
  <ul>
    <li><a href="#labInfo">Lab Info</a></li>
    {% for i in labInfo %}
    <li><a href="#{{ i.slug }}">{{ i.title }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    <li><a href="#HowItWorks">How It Works</a></li>
    {% for i in howItWorks %}
    <li><a href="#{{ i.slug }}">{{ i.title }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    <li><a href="#aboutFabLabs">About Fab Labs</a></li>
    {% for i in aboutFabLabs %}
    <li><a href="#{{ i.slug }}">{{ i.title }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    <li><a href="#faqs">FAQs</a></li>
    {% for q in faqs %}
    <li><a href="#{{ q.slug }}">{{ q.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="content--wrapper-info">

  <div id="labInfo"></div>
  {% for i in labInfo %}
  <div class="info--content-section" id="{{ i.slug }}">
    <div class="info--contact-icon">{{ i.title }}</div>
    {{ i.content }}
  </div>
  {% endfor %}

  <div id="howItWorks"></div>
  {% for i in howItWorks %}
  <div class="info--content-section" id="{{ i.slug }}">
    <div class="info--contact-icon">{{ i.title }}</div>
    {{ i.content }}
  </div>
  {% endfor %}

  <div id="aboutFabLabs"></div>
  {% for i in aboutFabLabs %}
  <div class="info--content-section" id="{{ i.slug }}">
    <div class="info--contact-icon">{{ i.title }}</div>
    {{ i.content }}
  </div>
  {% endfor %}

  <div class="info--content-section" id="faqs">
    {% for q in faqs %}
    <div class="info--contact-icon" id="{{ q.slug }}">{{ q.title }}</div>
    <div class="info--contact-text">{{ q.content }}<p>&nbsp;</p></div>
    {% endfor %}
  </div>
</div><!-- content--wrapper-info /-->
