---
layout: default
---

<div class="fullscreen info--fullscreen">
  <div class="info--fullscreen-wrapper">
    <div class="info--contact-button">
      <a href="mailto:fablab.aalto.fi" class="shadow">Get In Touch</a>
    </div>
  </div>
</div>

<div class="content--wrapper-info">
  <div class="info--content-section">
    <div class="info--contact-icon">
      Opening Times
    </div>
    <div class="info--contact-times">
      MON&emsp;—&emsp;FRI&emsp;&emsp;|&emsp;&emsp;10:00&emsp;—&emsp;16:00
    </div>
    <div class="info--contact-text">
      WE HOLD INTRO COURSES EVERY MONDAY<br/>
      PLEASE RESERVE MACHINES IN ADVANCE
    </div>
    <div class="info--contact-button">
      <a href="mailto:fablab.aalto.fi" class="shadow">Make A Reservation</a>
      <p>* @Aalto.fi email address required</p>
    </div>
  </div>

  <div class="info--content-section">
    <div class="info--map-section">
      <div class="info--map-icon">
        Find Us
      </div>
      <div class="info--map-header">
        Aalto Fablab
      </div>
      <div class="info--map-text">
        Harald Herlin Learning Centre<br/>
        Otaniementie 9<br/>
        Espoo<br/>
        Finland
      </div>
      <div class="info--map-button">
        <a href="https://maps.google.com?daddr=Otaniementie+9+Espoo+Finland" class="shadow" target="_blank">Get Directions</a>
      </div>
  </div>
</div>
