---
layout: default
---

{% if page.calendarID %}
<script type='text/javascript'>

$(document).ready(function() {
  var calendarId = $('#calendar').data( "calendarId" );
  $('#calendar').fullCalendar({
    // THIS KEY WILL NOT WORK FOR ANY OTHER SITE
		// To make your own Google API key, follow the directions here:
		// http://fullcalendar.io/docs/google_calendar/
    googleCalendarApiKey: 'AIzaSyDOZ5DQKNFagv_4RRMQID2EekqlRPelwQU',
    events: {
        googleCalendarId: calendarId
    },
    defaultView: 'agendaSeven',
    views: {
      agendaSeven: {
          type: 'agenda',
          duration: { days: 7 }
      },
      agendaOne: {
          type: 'agenda',
          duration: { days: 1 }
      }
    },
    allDaySlot: false,
    slotDuration: '00:30:00',
    snapDuration: '01:00:00',
    weekends: false,
    weekNumbers: true,
    weekNumberTitle: 'Wk.',
    scrollTime: '09:00:00',
    minTime: '08:00:00',
    maxTime: '18:00:00',
    timeFormat: 'H:mm',
    titleFormat: 'MMM D',
    columnFormat: 'ddd DD/MM',
    businessHours: [ // specify an array instead
      {
        dow: [ 1, 2, 3, 5 ], // Monday, Tuesday, Wednesday, Friday
        start: '10:00', // 10am
        end: '16:00' // 4pm
      },
      {
        dow: [ 4 ], // Thursday
        start: '12:00', // 12pm
        end: '16:00' // 4pm
      }
    ],
    eventColor: '#d14',
    eventTextColor: '#DA1044',
    displayEventTime: false,
    contentHeight: 462,
    eventClick: function(event) {
      return false;
    },
    windowResize: function(view) {
      resizeCal();
    }
  });

  resizeCal();
});

function resizeCal() {
  if(window.innerWidth < 768)
  {
    $('#calendar').fullCalendar( 'changeView', 'agendaOne' );
    $('#calendar').fullCalendar('option', 'contentHeight', 462);
  } else {
    $('#calendar').fullCalendar( 'changeView', 'agendaSeven' );
    $('#calendar').fullCalendar('option', 'contentHeight', 538);
  }
}

</script>
{% endif %}

<div class="fullscreen machine--fullscreen" style="background-image:url({{ page.image }});">
</div>

<div class="content--wrapper-machine">
  <div class="machine--specs">
    {% if page.icon %}
      <div class="machine--specs-item icon">
        <img src="{{ page.icon }}" />
      </div>
    {% endif %}

    <div class="machine--specs-item">
      <span class="bold">Model</span><br/>
      {{ page.name }}
    </div>
    {% assign specs = page.specs %}
    {% for spec in specs %}
      <div class="machine--specs-item">
        <span class="bold">{{ spec[0] }}</span><br/>
        {{ spec[1] }}
      </div>
    {% endfor %}
  </div>

  <div class="machinePage--content">
    <h1>{{ page.name }}</h1>
    <div>{{ page.content }}</div>
    <div id="calendar" data-calendar-id="{{ page.calendarID }}@group.calendar.google.com"></div>
  </div>

</div> <!-- content--wrapper /-->
