---
layout: default
---

<div class="fullscreen share--fullscreen">
</div>

<div class="content--wrapper-share">
  <div class="content--share-category madeinfablab">
  {% assign madeInFablab = site.posts | where: 'categories', 'madeinfablab' %}
  {% for p in madeInFablab %}
    <div class="post--wrapper three-col post--wrapper-madeinfablab">
      <div class="post--image" style="background-image:url({{ p.coverImage }})"></div>

      <div class="post--content">
        <div class="post--content-title">{{ p.title | escape }}</div>
        <div class="post--content-hook">{{ p.excerpt }}</div>
      </div>
    </div>
  {% endfor %}
  </div><!-- content--share-category /-->

  <div class="content--share-category howto">
  {% assign howTo = site.posts | where: 'categories', 'howto' %}
  {% for p in howTo %}
    <div class="post--wrapper two-col post--wrapper-howto">
      <div class="post--image" style="background-image:url({{ p.coverImage }})">
        <div class="post--image-tag"># how to</div>
        <div class="post--image-title">{{ p.title | escape }}</div>
        <div class="post--image-subtitle">{{ p.subtitle | escape }}</div>
      </div>

      <div class="post--content">
        <div class="post--content-hook">{{ p.excerpt }}</div>
      </div>
    </div>
  {% endfor %}
  </div><!-- content--share-category /-->

  <div class="content--share-category fabacademy">
  {% assign fabAcademy = site.posts | where: 'categories', 'fabacademy' %}
  {% for p in fabAcademy %}
    <div class="post--wrapper three-col post--wrapper-fabacademy">
      <div class="post--image" style="background-image:url({{ p.coverImage }})"></div>

      <div class="post--content">
        <div class="post--content-title">{{ p.title | escape }}</div>
        <div class="post--content-hook">{{ p.excerpt }}</div>
      </div>
    </div>
  {% endfor %}
  </div><!-- content--share-category /-->
</div><!-- content--wrapper /-->
